@import "./float_label";
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
}
.checkbox.mb-3 {
  text-align: left;
}
.background {
  background-color: #eee;
}
.container {
  background-color: #fff;
  padding: 2%;
  height: 90vh;
}