<template>
  <div class="background">
    <div class="container">
      <form class="form-signin" @submit.prevent>
        <div class="text-center mb-4">
        </div>
        <div class="form-label-group">
          <input type="email" id="inputEmail" class="form-control" placeholder="Почта" required="" autofocus="" v-model="form.email">
          <label for="inputEmail">Почта</label>
        </div>
        <div class="form-label-group">
          <input type="text" id="name" class="form-control" placeholder="Имя" required="" autofocus="" v-model="form.name">
          <label for="name">Имя</label>
        </div>
        <div class="form-label-group">
          <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="" v-model="form.password">
          <label for="inputPassword">Пароль</label>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="role">Роль</label>
          </div>
          <select class="custom-select" id="role" v-model="form.role">
            <option value="1">User</option>
            <option value="2">Manager</option>
            <option value="3">Admin</option>
          </select>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" @click="submit">Зарегистрироваться</button>
        <p class="mt-5 mb-3 text-muted text-center">© 2018</p>
      </form>
    </div>
  </div>
</template>

<script>
  import db from "./firebase/init";
  export default {
    data() {
      return {
        form: {
          email: "",
          name: "",
          password: "",
          role: ""
        }
      }
    },
    mounted() {
      this.getUser()
    },
    methods: {
      submit() {
        let id = this.$route.params.id
        db.collection("users").doc(id).set(this.form)
          .then(() => {
            this.$swal({
              position: 'top',
              type: 'success',
              title: 'User изменен!',
              showConfirmButton: false,
              timer: 1500
            })
            this.$router.push('/users')
          })
      },
      getUser() {
        let id = this.$route.params.id
        let obj
        db.collection("users").doc(id).get()
          .then((doc) => {
            obj = doc.data()
            this.form = obj
          })
      }
    }
  }

</script>

<style>


</style>
