<template>
  <div class="background">
    <div class="container">
      <form>
        <h3>Изменить trip</h3>
        <div class="form-group">
          <label for="destination">Destination</label>
          <input type="text" class="form-control" id="destination" v-model="obj.destination">
        </div>
        <div class="form-group">
          <label for="startDate">StartDate</label>
          <input type="date" class="form-control" id="startDate" v-model="obj.startDate">
        </div>
        <div class="form-group">
          <label for="endDate">endDate</label>
          <input type="date" class="form-control" id="endDate" v-model="obj.endDate">
        </div>
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea class="form-control" name="comment" form="usrform" id="comment" v-model="obj.comment"></textarea>
        </div>
        <button type="button" class="btn btn-primary" @click="submit">Изменить</button>
      </form>
    </div>
  </div>
</template>

<script>
  import db from "./firebase/init";
  export default {
    data() {
      return {
        obj: {
            destination: "",
            startDate: "",
            endDate: "",
            comment: "",
            userid: ""
        }
      }
    },
    mounted() {
      this.getTrip()
    },
    methods: {
      submit() {
        let id = this.$route.params.id
        db.collection("trips").doc(id).set(this.obj)
          .then(() => {
              this.$swal({
                position: 'top',
                type: 'success',
                title: 'Trip изменен!',
                showConfirmButton: false,
                timer: 1500
            })
            this.$router.push('/trips')
          })
      },
      getTrip() {
        let id = this.$route.params.id
        let obj
        db.collection("trips").doc(id).get()
          .then((doc) => {
            obj = doc.data()
            this.obj = obj
          })
      }
    }
  }

</script>

<style>


</style>
