<template>
<div class="background">
  <div class="container">
    <div class="row mt-3">
      <div class="col-6">
        <h4>{{user.name}}</h4>
        <p align="center">role: {{roleName(user.role)}}</p>
      </div>
      <div class="col-6">
        <p>email: {{user.email}}</p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  beforeRouteEnter: (to, from, next) => {
    next((vm) => {
        if(!vm.$store.state.auth) {
          vm.$router.push('/login')
          vm.$swal(
            {
              position: 'top',
              type: 'error',
              title: 'Вы должны сначало войти',
              showConfirmButton: false,
              timer: 1500
            }
          )
        }
    })
  },
  computed: {
    user() {
      return this.$store.getters.userInfo
    }
  },
  methods: {
    roleName(num) {
      let role
      switch (num) {
        case '1':
          role = 'User'
          break;
        case '2':
          role = 'Manager'
          break;
        case '3':
          role = 'Super ADMIN'
          break;
      }
        return role;
    }
  }
}
</script>

<style>

</style>
