<template>
  <div class="container">
    <form class="form-signin" @submit.prevent>
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Войти</h1>
        <p>Введите свой данные
        </p>
      </div>

      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Почта" required="" v-model="email" autofocus="">
        <label for="inputEmail">Почта</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="" v-model="password">
        <label for="inputPassword">Пароль</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Запомнить меня
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="button" @click="login">Войти</button>
      <p class="mt-5 mb-3 text-muted text-center">© 2018</p>
    </form>
  </div>
</template>

<script>
  import db from "./firebase/init";
  export default {
    data() {
      return {
        email: null,
        password: null,
        user: {}
      }
    },
    methods: {
      login() {
        db.collection("users").where('email', '==', this.email).where('password', '==', this.password).get()
            .then((querySnapshot) => {
              if(querySnapshot.docs.length == 0){
                this.$swal({
                  position: 'top',
                  type: 'error',
                  title: 'Вы ввели неправильные данные',
                  showConfirmButton: false,
                  timer: 1500
                })
              } else {
                querySnapshot.forEach((doc) => {
                  console.log(doc.id, ' => ', doc.data())
                  this.user = doc.data()
                  this.user.id = doc.id
                  this.$swal({
                    position: 'top',
                    type: 'success',
                    title: 'Вы успешно вошли',
                    showConfirmButton: false,
                    timer: 1500
                  })
                this.$store.commit("SET_USER", this.user);
                this.$store.commit("SET_AUTH", true);
                this.$router.push('/')
                });
                
              }
          })
      }
    }
  }

</script>

<style>


</style>
