<template>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-4">
        <form>
          <h3>Добавить trip</h3>
          <div class="form-group">
            <label for="destination">Destination</label>
            <input type="text" class="form-control" id="destination" v-model="destination">
          </div>
          <div class="form-group">
            <label for="startDate">StartDate</label>
            <input type="date" class="form-control" id="startDate" v-model="startDate">
          </div>
          <div class="form-group">
            <label for="endDate">endDate</label>
            <input type="date" class="form-control" id="endDate" v-model="endDate">
          </div>
          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control" name="comment" form="usrform" id="comment" v-model="comment"></textarea>
          </div>
          <button type="button" class="btn btn-primary" @click="submit">Сохранить</button>
        </form>
      </div>
      <div class="col-8">
        <h3 class="mb-5">Все поездки</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Destination</th>
              <th scope="col">StartDate</th>
              <th scope="col">EndDate</th>
              <th scope="col">Comment</th>
              <th scope="col">Days left</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(trip, index) in trips" :key="index" @click="$router.push('/trip/edit/' + trip.id)">
              <td>{{index + 1}}</td>
              <td>{{trip.destination}}</td>
              <td>{{trip.startDate}}</td>
              <td>{{trip.endDate}}</td>
              <td>{{trip.comment}}</td>
              <td>moment.js</td>
            </tr>
          </tbody>
        </table>
        <p>click to edit trip</p>
      </div>
    </div>
  </div>
</template>

<script>
  import db from "./firebase/init";
  export default {
    data() {
      return {
        destination: null,
        startDate: null,
        endDate: null,
        comment: null,
        trips: []
      }
    },
    computed: {
      user() {
        return this.$store.getters.userInfo
      }
    },
    mounted() {
      this.getTrips()
    },
    methods: {
      getTrips() {
        db.collection("trips").where('userid', '==', this.user.id).onSnapshot((doc) => {
          let arr = []
          doc.forEach(function (doc) {
            arr.push(doc.data());
          })
          for (let index = 0; index < doc.docs.length; index++) {
            arr[index].id = doc.docs[index].id
          }
          this.trips = arr
        })
      },
      submit() {
        db.collection('trips').add({
            destination: this.destination,
            startDate: this.startDate,
            endDate: this.endDate,
            comment: this.comment,
            userid: this.user.id
          })
          .then((docRef) => {
            this.$swal({
              position: 'top',
              type: 'success',
              title: 'Trip добавлен!',
              showConfirmButton: false,
              timer: 1500
            })
            console.log('Doc ID: ', docRef.id)
            this.getTrips()
          })
          .catch((error) => {
            console.error(error)
          })
      }
    }
  }

</script>

<style scoped>
tr {
  cursor: pointer;
}
</style>
