<template>
  <div class="container">
    <form class="form-signin" @submit.prevent>
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
        <p>Можно выбрать роль: User, Manager, SuperAdmin</p>
      </div>
      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Почта" required="" autofocus="" v-model="form.email">
        <label for="inputEmail">Почта</label>
      </div>
      <div class="form-label-group">
        <input type="text" id="name" class="form-control" placeholder="Имя" required="" autofocus="" v-model="form.name">
        <label for="name">Имя</label>
      </div>
      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="" v-model="form.password">
        <label for="inputPassword">Пароль</label>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="role">Роль</label>
        </div>
        <select class="custom-select" id="role" v-model="form.role">
          <option value="1">User</option>
          <option value="2">Manager</option>
          <option value="3">Admin</option>
        </select>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="button" @click="submit">Зарегистрироваться</button>
      <p class="mt-5 mb-3 text-muted text-center">© 2018</p>
    </form>
  </div>
</template>

<script>
  import db from "./firebase/init";
  export default {
    data() {
      return {
        form: {
          name: "",
          email: "",
          password: "",
          role: "1"
        }
      }
    },
    methods: {
      submit() {
        db.collection('users').add({
            name: this.form.name,
            email: this.form.email,
            password: this.form.password,
            role: this.form.role
          })
          .then((docRef) => {
            this.$router.push("/login")
            this.$swal({
              position: 'top-end',
              type: 'success',
              title: 'Вы успешно зарегистрировались!, теперь войдите',
              showConfirmButton: false,
              timer: 1500
            })
            console.log('Doc ID: ', docRef.id)
          })
          .catch(function (error) {
            console.error('Error: ', error)
          })
      }
    }
  }

</script>

<style>


</style>
