<template>
<div class="background">
    <div class="container pt-3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Destination</th>
              <th scope="col">StartDate</th>
              <th scope="col">EndDate</th>
              <th scope="col">Comment</th>
              <th scope="col">Days left</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(trip, index) in trips" :key="index">
                <td>{{index + 1}}</td>
                <td>{{trip.destination}}</td>
                <td>{{trip.startDate}}</td>
                <td>{{trip.endDate}}</td>
                <td>{{trip.comment}}</td>
                <td>{{parseDate(trip.startDate)}}</td>
                <td>
                    <button type="button" class="btn btn-info" @click="$router.push('/trip/edit/' + trip.id)">Изменить</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" @click="deleteTrip(trip.id)">Удалить</button>
                </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
</template>

<script>
import db from "./firebase/init";
var moment = require('moment');
export default {
    data() {
        return {
            trips: []
        }
    },
    mounted() {
        this.getTrips()
    },
    methods: {
        deleteTrip(id) {
            this.$swal({
            title: 'Хотите удалить?',
            text: "ТОЧНО ?!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ДА, delete it!'
          })
          .then((result) => {
            if (result.value) {
              db.collection("trips").doc(id).delete().then(() => {
                this.$swal({
                  position: 'top',
                  type: 'success',
                  title: 'Trip Удален!',
                  showConfirmButton: false,
                  timer: 1500
                })
              });
            }
          })
        },
        getTrips() {
            db.collection("trips").onSnapshot((doc) => {
            let arr = []
            doc.forEach(function (doc) {
                arr.push(doc.data());
            })
            for (let index = 0; index < doc.docs.length; index++) {
                arr[index].id = doc.docs[index].id
            }
            this.trips = arr
            })
        },
        parseDate(data) {
            var day = moment(data);
            let now = moment(new Date());
            let diffInDays = day.diff(now, 'days');
            if (diffInDays < 0) {
                return 'expired'
            }
            return diffInDays
        }
    }
}
</script>

<style scoped>
 tr {
     cursor: pointer;
 }
</style>
