<template>
  <div class="background">
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Password</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(user, index) in users" :key="index">
            <td>{{index + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>{{user.password}}</td>
            <td>
              <button type="button" class="btn btn-info" @click="$router.push('/user/edit/'+ user.id)">Изменить</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" @click="deleteUser(user.id)">Удалить</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import db from "./firebase/init";
  export default {
    data() {
      return {
        users: []
      }
    },
    mounted() {
      this.getUsers()
    },
    methods: {
      deleteUser(id) {
        this.$swal({
            title: 'Хотите удалить?',
            text: "ТОЧНО ?!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ДА, delete it!'
          })
          .then((result) => {
            if (result.value) {
              db.collection("users").doc(id).delete().then(() => {
                this.$swal({
                  position: 'top',
                  type: 'success',
                  title: 'User Удален!',
                  showConfirmButton: false,
                  timer: 1500
                })
              });
            }
          })
      },
      getUsers() {
        db.collection("users").onSnapshot((doc) => {
          let arr = []
          doc.forEach(function (doc) {
            arr.push(doc.data());

          })
          for (let index = 0; index < doc.docs.length; index++) {
            arr[index].id = doc.docs[index].id
          }
          this.users = arr
        })
      }
    }
  }

</script>

<style>


</style>
