<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Travel Planner</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Главная
            </a>
          </li>
          <li class="nav-item" v-if="user.role === '2' || user.role === '3'">
            <a class="nav-link" href="/trips">Все поездки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mytrip">Мои поездки</a>
          </li>
          <li class="nav-item" v-if="user.role === '3'">
            <a class="nav-link" href="/users">Пользователи</a>
          </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0" v-if="!auth">
          <li class="nav-item">
            <a class="nav-link" href="/login">Войти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Регистрация</a>
          </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0" v-else>
          <li class="nav-item">
            <a class="nav-link" href="#" @click="logout">Выйти</a>
          </li>
        </ul>
      </div>
    </nav>
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'App',
    computed: {
      auth() {
        return this.$store.getters.auth
      },
      user() {
        return this.$store.getters.userInfo
      }
    },
    methods: {
      logout() {
        this.$store.commit('SET_AUTH', false)
        this.$router.push('/login')
      }
    }
  }

</script>
